:root {
    --Soft-red: hsl(14, 88%, 65%);
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    --Light-grayish-blue: hsl(240, 5%, 91%);
}

html {
    box-sizing: border-box;
    font-size: 100%
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    background: rgb(175,103,233);
    background: linear-gradient(var(--Soft-violet), var(--Soft-blue));
    Font-size: 0,75rem;
}

.card {
    background: #fff;
    border-radius: 2rem;
    margin: 4rem auto;
    width: 49.5rem;
    height: 27.5rem;
}

.card-image {
    width: 100%;
    height: auto;
}

button {
    border:none;
    outline: none;
    background: none;
}

.accordion-body {
    display: none
}

@media (min-width: 56em) {
    .card {
        overflow: hidden;
        display: flex;
        margin: 5rem auto;
        padding-right: 5rem;
    }

    .card-image,
    .accordion {
        flex: 1;
    }

    .card-image {
        display: flex;
        align-items: center;
        transform: translateX(-4rem);
    }

    .card-image img  {
        width: 23rem;
    }

    .accordion {
        padding-top: 3.75rem;
    }
}
