:root {
    --Soft-red: hsl(14, 88%, 65%);
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    --Light-grayish-blue: hsl(240, 5%, 91%);
}

html {
    box-sizing: border-box;
    font-size: 100%
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    background: rgb(175,103,233);
    background: linear-gradient(var(--Soft-violet), var(--Soft-blue));
    Font-size: 0.75rem;
}

.card {
    background: rgb(255, 255, 255);
    border-radius: 2rem;
    margin: 4rem auto;
    width: 49.5rem;
    height: 27.5rem;
}

.card-image {
    width: 100%;
    height: auto;
}

.accordion-item {
    border-bottom: 0.125rem solid rgba(0, 0, 0, 0.075);
}

.accordion-button {
    font-size: 0.90rem;
    cursor: pointer;
    transition: 0.4s;
    opacity: 0.75;
    border: none;
    outline: none;
    background: none;
}

h2 {
    font-size: .80rem;
    margin: 0.30rem 0 0.30rem 0;
}

.accordion-button::after {
    content: ' ';
    display: block;
    transform: translateY(-1rem) translateX(20rem);
    width: 0.60rem;
    height: 0.60rem;
    background-image: url('/images/icon-arrow-down.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hide .accordion-button {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.show .accordion-button {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
} 

.accordion-body {
    transform: translateX(0.5rem);
}

.hide .accordion-body {
    height:0px;
    transition:height 1s ease-out;
	transform: scaleY(0);
    display: block;
    content: "";
    margin-bottom: 0rem;
}

.show .accordion-body {
    width: 19rem;
    font-size: 0.90rem;
    font-weight: bold;
    margin-bottom: 1rem;
    opacity: 0.5;
}

.active h2{
    opacity: 1;
    font-weight: bold;
    font-size: 1rem;
    transition-duration: 5ms;
}

@media (min-width: 62.5em) {

    .card {
        width: 49.25rem;
        height: 27.43rem;
        position: relative;
        display: flex;
        margin: 6rem auto;
        padding-right: 2rem;
    }

    .card-image,
    .accordion {
        flex: 1;
    }

    .card-image {
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    .card-image img  {
        width: 24rem;
        transform: translateX(-4rem);
    }

    .box-img {
        width: 11rem;
        position: absolute;
        transform: translateX(-50%) translateY(11rem);
        z-index: 2;
    }

    .accordion {
        padding-top: 4rem;
        width: 0%;
    }

    .accordion-button {
        font-size: 0.79rem;
    }
}
